@import "components/variables";

a {
  text-decoration: none;
  color: $text-color-shade;
  transition: all .3s;
  &:hover {
    color: $white;
  }
}

body {
  background: $white;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

header {
  background: url('../images/fondo_home.png') no-repeat top center ;
  background-size: cover;
  height: 100vh;
  .logo-container {
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-start;
    img {
      align-self: center;
      max-width: 220px;
    }
  }
}

section {
  height: 100vh;
}

ul.nav {
  display: none;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2rem;
  li {
    padding: 5px 10px 10px 10px;
    a:hover {
      box-shadow: 0px 2px 0px 0px rgba(255,255,255,.8);
      border-radius: 1px;
    }
  }
}

.container {
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  width: 100% ;
}

.icon-container {
  color: $white;
  cursor: pointer;
  transition: all .3s ease;
  .material-icons {
    color: $text-color-shade;
    transition: all .3s ease;
    &:hover {
      color: $white;
    }
  }
}

.main-nav {
  width: 100%;
  min-height: $nav-heigth;
  padding: 2rem 0 1rem;
  position: fixed;
  text-align: center;
  .container {
    display: flex;
    justify-content: space-between;
  }
  img#logo-nav {
    display: none;
    height: 2rem;
  }
}

#services {
  width: 100%;
  .services-info {
    margin-top: -3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 211px;
    }
    h2 {
      color: $shade-color;
    }
  }
}

@media screen and (max-height: 500px) {
  #services .services-info {
    margin-top: 2rem;
  }
}

@media screen and (min-width: 700px) {
  header {
    .logo-container img {
      max-width: 320px;
    }
  }
  .container {
    max-width: 1280px;

    padding-bottom: 1rem;
  }
  .main-nav {
    .container {
      box-shadow: 0px .5px 0px 0px rgba(255,255,255,.8);
    }
    ul.nav {
      display: flex;
      align-content: flex-end;
      a {
        font-size: 1rem;
      }
    }
    img#logo-nav {
      display: flex;
    }
    .icon-container {
      display: none;
    }
  }
}

@media screen and (min-width: 900px) {
  header {
    .logo-container img {
      max-width: 420px;
    }
  }
}
