


#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Separators styles*/
.separator {
  width: 250px;
  height: 0px;
  border-top: solid 5px #5d5d5d;
  margin: 10px 0;
  text-align: center;
  padding: 0;
}
.separator:after {
  font-family: FontAwesome;
  font-size: 1.7rem;
  position: relative;
  top: -1.05em;
  display: inline-block;
  padding: 0 .3em;
  color: #5d5d5d;
}
.sep-services {
  position: relative;
}
.sep-services img {
  position: absolute;
  width: 45px;
  height: 45px;
  top: -25px;
  left: 40%;
  right: 40%;
  background-color: #FFF;
  padding: 0 3px;
}
.sep-solutions:after {
  background-color: #f3f3f3;
  content: '\f0b1';
}