/*General styles*/
body {
  color: #5d5d5d;
}
h1, h2, h3, h4, h5 {
  text-align: center;
  color: #5d5d5d;
  text-transform: uppercase;
}
/*Navigation bar styles*/
/*Logo styles*/
#navbar-main {
  position: fixed;
  width: 100%;
  z-index: 3;
}
#navbar-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  border-bottom: 2px solid #d1c1c1;
}
#logo-nav {
  width: 150px;
  height: auto;
}
.nav-content {
  position: absolute;
  right: 0;
  padding-right: 20px;
}
div.nav-content a{
	text-decoration: none;
	color: #FFFFFF;
	margin-right: 10px;
	padding: 5px;
}
div.nav-content a:hover{
	/*background-color: rgba(241, 159, 48, 0.4);*/
	color:rgba(241, 159, 48, 0.4);
	border-bottom: 2px solid #c1c1c1;
}

/*Home section styles*/
div.container {
  background-image: url("http://en.fsa.gov.ru/public/uploads/news/image/new/0a7722d1bb10086f9bd159f09af096d1.jpg");
  width: 100%;
  height:auto;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
#inicio{
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom:10px;
	width: 60%;
	height: auto;

}
div.hero{
	width: auto;
	align-items: center;
}
img.logo{
	float: center;
	position: relative;
	height: 150px;
	width: 300px;
}
/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 400px;
}
.fade-carousel .carousel-inner .item {
    height: 400px;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
	position: center center;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s;
        -ms-transition: 2s all ease-in-out .1s;
         -o-transition: 2s all ease-in-out .1s;
            transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 4s all ease-in-out .1s;
       -moz-transition: 4s all ease-in-out .1s;
        -ms-transition: 4s all ease-in-out .1s;
         -o-transition: 4s all ease-in-out .1s;
            transition: 4s all ease-in-out .1s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 400px;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://static1.squarespace.com/static/515f269de4b0ef9b86cf32df/t/569ef58005f8e26bde177ce6/1453258125662/);
}
.fade-carousel .slides .slide-2 {
  background-image: url(http://www.blogdelaspersonasreales.com/wp-content/uploads/2017/02/Blog_Post-Head_Machote-NoOficina-1.gif);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://ununsplash.imgix.net/photo-1416339276121-ba1dfa199912?q=75&fm=jpg&s=9bf9f2ef5be5cb5eee5255e7765cb327);
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 20px; }
}

footer {
  background-color: rgba(42,66,89,.95);
  color: #FFF;
  padding: 0;
  margin: 0;
}
footer .footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  min-height: 60px;
}
footer .copy {
  min-width: 300px;
  font-size: 20px;
}
.socialMenu li {
  list-style: none;
  display: inline-block;
}
.socialMenu li a {
  list-style: none;
  text-decoration: none;
  color: #FFF;
  padding: 0 10px;
  font-size: 25px;
}


.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
/* Common style */
.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 150px;
  max-width: 175px;
  max-height: 205px;
  width: 48%;
  background: #348FB0;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.6;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.grid figure h2 {
	position: center center;
  word-spacing: -0.15em;
  font-weight: normal;
  color: #FFF;
  font-size: 15px;
}
.grid figure h2 span {
  font-weight: bold;
}
.grid figure h2,
.grid figure p {
  margin: 0;
}
.grid figure p {
  letter-spacing: 1px;
  font-size: 0.7em;
}
figure.effect-chico img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}
figure.effect-chico:hover img {
  opacity: 0.5;
  -webkit-transform: scale(1);
  transform: scale(1);
}
figure.effect-chico figcaption {
  padding: 0;
}
figure.effect-chico figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: '';
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.effect-chico figcaption::before,
figure.effect-chico p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
figure.effect-chico h2 {
  padding: 20% 0 20px 0;
}
figure.effect-chico p {
  margin: 0 auto;
  max-width: 200px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
@media screen and (max-width: 50em) {
  .content {
    padding: 0 10px;
    text-align: center;
  }
  .grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
}
/*Team section*/
#team .sep-services img {
  background-color: #f3f4f6;
}
#team {
  background-color: #f3f4f6;
  padding-top: 30px;
}
.team-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.ih-item.square.team {
  width: 320px;
  min-width: 320px;
  height: 400px;
  border-radius: 10px;
  margin: 20px 0;
}
.ih-item.square.effect4 a .info,
.ih-item.square.effect4 a:hover .info {
  top: unset;
  bottom: 30%;
}
.ih-item.square.effect4 a:hover .info {
  height: 150px;
  width: 100%;
}
.ih-item.square.effect4.colored .info {
  background: rgba(13, 67, 105, 0.6);
}
.ih-item.square.effect4 .info h3 {
  font-size: 25px;
}
.ih-item.square.effect4 .info p {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
}
