/*General styles*/
html{
	box-sizing: border-box;
}
*, *:before, *:after{
	box-sizing: inherit;
}
body {
	margin: 0 auto;
	height: auto;
	position: relative;
	background-image: url('../images/matrix.gif');
	/*background-image:url('../images/principal.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/*Modal for "Cotiza YA"*/
#body-cotiza{
	color: #fff;
	background-color: #081b27bd;
}
#cotizamodal{
	margin: 0 auto;
	justify-content: center;
	align-self: center;
}
.close{
	position:relative;
}
#close_modal{
	background-color: #fff;
	margin-bottom:100px;
	display: block;
	float: right;
	padding-left: .5em;
	padding-right: .5em;
	padding-top: .25em;
	padding-bottom: .25em;
	border-radius: 10px;
}
#close_modal > span{
	color:#000;
}
#modal_header{
	padding-top: 0px;
	padding-bottom: 5px;
}
.form-group{
	margin-bottom: 5px;
}
/*remove phones*/
.less{
		margin-left: 5px;
}
#hour{
	width: 25%;
}
/*botones*/
.boton_modal{
  cursor: pointer;
}
.boton_modal:hover{
  transform: scale(0.95);
}
.add_more{
	padding-top: -15px;
}

div.digimundo{
  position: absolute;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
 background-color: rgba(0,0,0,0.55);
}
section:focus {
  outline: none;
}
h1, h2, h3, h4, h5 {
  text-align: center;
  color: #5d5d5d;
  text-transform: uppercase;
}

/*Navigation bar styles*/
/*Logo styles*/
#navbar-main {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  width: 100%;
  z-index: 3;
}
#navbar-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  border-bottom: 2px solid gray;
}
#logo-nav {
  width: 150px;
  height: auto;
}
.nav-content {
  position: absolute;
  right: 0;
  padding-right: 10px;
}
div.nav-content a{
  font-size: 15px;
	text-decoration: none;
	color: #c1c1c1;
	margin-right: 10px;
	padding: 5px;
}
/*Dropdown Button*/
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 100px;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #186681;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content{
  display: none;
  position: absolute;
  background-color: rgba(0,0,0,.5);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover
.dropdown-content a:hover {background-color: #f1f1f1}*/

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
  position: absolute;
  right: 0;
}
div.nav-content a:hover{
	/*background-color: rgba(241, 159, 48, 0.4);*/
	/*color:rgba(241, 159, 48,0.8);*/
	border-bottom: 2px solid #3085F1;
}
/*parpadear cotiza*/
#cotiza, #cotiza_modal{
  /*box-shadow: inset 0 0 0 4px #555953;*/
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-family: sans-serif;
  background-color: #186681;
  font-size: 18px;
  animation-name: parpadeo;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}
@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
#cotiza_modal{
	background-color: rgba(200, 30, 30, 0.5);
}
#cotiza:hover, #cotiza_modal:hover{
	text-decoration: none;
}

.inicio, .inicio_asesoria, .inicio_nosotros{
	margin-top: 80px;
	margin-bottom:0px;
}
div.hero{
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
	height: 30%;
	margin: auto;
}
.desplegable{
	margin: 0 auto;
  vertical-align: bottom;
  margin-top:45px;
  margin-bottom: 15px;
  text-align: center;
  width: auto;
  height: auto;
}
button{
	width: auto;
}
.boton{
	color:#fff;
	text-decoration: none;
	cursor: pointer;
}
.boton:hover{
	color: #fff;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  text-decoration: none;
  box-shadow: 1px 2px #ffffff;
}
.end{
  width: 100%;
}
#ocultar{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  min-width: 170px;
  line-height: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  display: none;
  text-align: center;
  width: 15%;
}

.container-services{
	width: 100%;
	height: 450px;
}

div.nuestros-servicios{
  display: none;
  position: relative;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  margin: 5px auto;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0px;
  margin-top:20px;
  margin-top: 0;
  height: auto;
  width: 80%;
}
.sep-services{
  padding: 0;
}
#titulo{
	padding-top: 1em;
	margin:0 auto;
  font-family: sans-serif;
  font-size: 15px;
  color: #fff;
}
.centrar,
.services{
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
	height: 30%;
	margin: auto;
}

.grid {
  width: 80%;
  clear: both;
  margin: 0 auto;
  /*padding: 2em 0 2em;*/
	padding-top: 0px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* Common style */
.grid figure {
  position: relative;
  float: center;
  overflow: hidden;
  margin: auto;
  width: 48%;
  background: #348FB0;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.6;
}
.grid figure .fondo{
  position: absolute;
  display: none;
  height: auto;
  width: auto;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;

}
.grid figure h2 {
	font-family: 'Bellefair', serif;

	position: center center;
  word-spacing: -0.15em;
  font-weight: normal;
  color: #ffff;
  font-size: 20px;
}
.grid figure h2 span {
		background-color: rgba(0,0,0,0.5);
  font-weight: bold;
}
.grid figure h2,
.grid figure p {
  margin: 0;
}
.grid figure p {
  letter-spacing: 1px;
  font-size: 0.7em;
}
figure.effect-chico img {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(1.12);
  transform: scale(1.12);
}
figure.effect-chico:hover img {
  opacity: 0.5;
  -webkit-transform: scale(1);
  transform: scale(1);
}
figure.effect-chico figcaption {
  padding: 0;
}
figure.effect-chico figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  content: '';
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.effect-chico figcaption::before,
figure.effect-chico p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
figure.effect-chico h2 {
  padding: 20% 0 20px 0;
}
figure.effect-chico p {
  margin: 0 auto;
  max-width: 200px;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
figure.effect-chico:hover figcaption::before,
figure.effect-chico:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
@media screen and (max-width: 980px ) {
  .content {
    padding: 0 10px;
    text-align: center;
  }
	.grid{
		padding-top: 0px;
	}
  .grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
}
.nuestros_clientes{
	display:block;
	background-color: rgba(0,0,0,.7);
	width:100%;
	height: auto;
}
.nuestros_clientes h4{
	color: #ffffff;
	padding-top: .5em;
}
h4.parrafo{
	margin-bottom: 0px;
}
.clientes{
	margin: 0;
	padding-top: 0em;
	padding-bottom: 2em;
	width: 100%;
	height: 200px;

}
.cont-princ-slider {
	height: 135px;
	overflow: hidden;
	width: 100%;
	background: rgba(0,0,0,.25);
}

.slier-prin {
	display: inline-flex;
	-moz-animation: slider 20s infinite linear;
	-webkit-animation: slider 20s infinite linear;
	animation: slider 20s infinite linear;
	height: 100%;
	width: auto;
}
.our_customer{
	padding-top: 10px;
	padding-bottom: 10px;
	color: #FFF;
	font-family: Arial;
	font-size: 16px;
	height: 100%;
	flex: 0 0 auto;
	text-align: center;
	width: 150px;
}
.logo_cliente{
	cursor: pointer;
	width: 50%;
}
.our_customer:hover {
	transform: translateX(0%);
}
@keyframes slider {
	to {
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}
#si, #keff{
	padding-top: 0px;
	width: 100px;
}
.our_customer p{
	margin-bottom: 0px;
}
#dabba{
	margin-top: 5px;
	padding-top:0;
	width: 120px;
}

#cristobal{
	width: auto;
}
/*Asesoria Template*/
#frase{
	font-family: 'Dancing Script', cursive;
	font-size: 20px;
}
.asesoria{
	position: relative;
	background-image: url("../images/asesor_movil.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.serv img{
  width: 80%;
  height: 80%;
}
.serv ul{
	padding-left: 20px;
}
#principal{
	font-family: 'Lato', sans-serif;
  color: #186681;
}
.parrafo, .parrafo_asesor{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
  color: #ffffff;
}
#asesor{
	width: 100%;
}
/*boton whast*/
.whatsapp{
	position: fixed;
	right:0px;
}
#whats{
	index
	cursor: pointer;
	margin-left: 0px;
	background-color: green;
	text-decoration: none;
	border-radius: 100px;
	color: white;
	padding-top: 3px;
	padding-left: 4px;
	padding-right: 5px;
}
#whats:hover{
	color: white;
	background-color: green;
	transform: scale(1.15);
}
/*nosotros template*/
.nosotros_template{
	position: relative;
	background-image: url("../images/principal.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.titulo{
  color: #fff;
}
#logo{
	 width: 150px;
}
.serv img{
  width: 80%;
  height: 80%;
}
#contacto{
	width: 75%;
	margin: 0;
}
/*images*/
.movil, .mail{
	height: 35px;
	width: 35px;
}
.map{
	width: 60px;
	height: 44px;
}

/*footer*/
footer {
 width: 100%;
  background-color: rgba(42,66,89,.95);
  color: #FFF;
  padding: 0;
  margin: 0;
}
footer .footer {

  display: flex;
  margin-bottom: 0px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  min-height: 60px;
}
footer .copy {
  min-width: 300px;
  font-size: 20px;
}
.socialMenu li {
  list-style: none;
  display: inline-block;
}
.socialMenu li a {
  list-style: none;
  text-decoration: none;
  color: #FFF;
  padding: 0 10px;
  font-size: 25px;
}
/*Media querys for devices*/
@media screen and (min-width: 768px){
	/*Navbar styles*/
	#navbar-container {
		width: 80%;
		max-width: 1400px;
		margin: 0 auto;
		border-bottom: 1px solid #FFF;
		padding-bottom: 25px;
	}
	#hour{
		width: auto;
	}
	.asesoria{
		position: relative;
		background-image: url("../images/asesoria.jpeg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
	body {
		margin: 0 auto;
	  height: auto;
	  position: relative;
	  background-image: url('https://static1.squarespace.com/static/515f269de4b0ef9b86cf32df/t/569ef58005f8e26bde177ce6/1453258125662/');
		width: 100%;
		background-size: cover;
	  background-attachment: fixed;
	}
	div.digimundo{
	  position: absolute;
	  padding: 0;
	  margin: 0 auto;
	  width: 100%;
	  height: auto;
	 background-color: rgba(0,0,0,0.3);
	}
  .nav-content {
    padding-right: 0;
  }

  .dropbtn {
    display: none;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: inline-block;
    position: relative;
    background-color: transparent;
    min-width: 160px;
    box-shadow: none;
  }
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #FFF;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
  }
	.container-services{
	  position: static;
	  width: 100%;
	  height: 515px;
	}
	.grid {
	  width: 100%;
	  clear: both;
	  margin: 0 auto;
	  padding: 2em 0 2em;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: center;
	}
	.cont-princ-slider {
		height: 145px;
		overflow: hidden;
		width: 100%;
	}
	.our_customer{
		padding-top: 15px;
		background: rgba(0,0,0,.15);
		height: 100%;
		text-align: center;
		width: 175px;
	}
	#dabba{
		margin-top: 5px;
		padding-top:0;
		width: 120px;
	}
	.logo_cliente{
		width: 100px;
		height: auto;
		cursor: pointer;
	}
	#cristobal{
		width: auto;
	}
	.parrafo{
		margin-left: 5rem;
		margin-right: 5rem;
		font-family: 'Lato', sans-serif;
		font-size: 18px;
	  color: #ffffff;
	}
	#titulo{
		padding-top: 1em;
		margin:0 auto;
	  font-family: sans-serif;
	  font-size: 40px;
	  color: #ffffff;
	}
	.whatsapp{
		position: fixed;
		right:0px;
	}
	/*Nosotros template*/
	.nosotros_template{
		position: relative;
		background-image: url("https://agendumsolutions.com/wp-content/uploads/2015/10/slider3.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
	}
	#we{
		width: 50%;
	}
  footer .footer {
  text-align: left;
}

#asesor{
	width: 80%;
}
#frase{
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
}
}
/*ipad pro vertical*/
@media screen and (max-width: 1024px) and (min-width: 768px){
	/*Navbar styles*/
	.dropdown-content {
	display: inline-block;
	position: relative;
	background-color: transparent;
	min-width: 160px;
	box-shadow: none;
}
.dropdown-content a {
	color: #FFF;
	padding: 12px 10px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
	#navbar-container {
		width: 80%;
		max-width: 1400px;
		margin: 0 auto;
		border-bottom: 1px solid #FFF;
		padding-bottom: 25px;
	}
	.container-services{
		height: 969px;
	}
	#titulo{
		padding-top: 3.1em;
	}
	.inicio_nosotros h2{
		margin-left: 2.8em;
	}
	.services{
		padding: 10px;
	}
	.grid{
		margin-top: 2em;
		padding-top: 30px;
	}
	.grid figure {
    display: inline-block;
    float: none;
    margin: 10px auto;
    width: 100%;
  }
	body {
		margin: 0 auto;
		height: auto;
		position: relative;
		background-image: url('../images/matrix.gif');
		/*background-image:url('../images/principal.jpg');*/
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	#asesor{
		margin-top: 3.2em;
	}
	/*nosotros_template*/
	#gmap{
		height: 325px;
	}
}
/*laptops*/
@media screen and (min-width: 1025px) and (max-width: 1299px){
	.container-services{
		height: 500px;
	}
}


/*ipad */
@media screen and (min-width: 768px) and (max-width: 1023px){
	#navbar-container {
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		border-bottom: 1px solid #FFF;
		padding-bottom: 25px;
	}
	.container-services{
		height: 627px;
	}
	#titulo{
		padding-top: 2em;
	}
	/*Asesoria template*/
	.inicio_asesoria{
		height: 790px;
	}
	#asesor{
		margin-top: 6em;
		width: 100%;
	}
	.parrafo{
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		font-family: 'Lato', sans-serif;
		font-size: 18px;
	  color: #ffffff;
	}
	/*nosotros_template*/
	#gmap{
		height: 200px;
	}
	.inicio_nosotros h2{
		margin-left: 1.4em;
	}
}
@media screen and (min-width: 1300px) and (max-width: 3900px){
	.container-services{
		height: 634px;
		padding-bottom: 1.6em;
	}
	#titulo{
	padding-top: 1.6em;
	}
	div.digimundo{
	  position: absolute;
	  padding: 0;
	  margin: 0 auto;
	  width: 100%;
	  height: auto;
 		background-color: rgba(0,0,0,0.3);
	}
	.inicio_nosotros h2{
		margin-left: 2.8em;
	}
}
